body{
	background-color: #788B50;
}

.title-bl{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	background-color: #F1F1F1;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.sub-bl{
	height: 200px;
}

.sub-bl li:hover{
	font-size: 14pt;
	font-weight: bold;
	color: #320909;
}

.img-bl{
	margin-left: auto;
	margin-right: auto;
}

.img-bl img{
	margin:5px;
}

.img-bl img:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.int-bl li>a{
	text-decoration: none;
	color: #575757;
}

.int-bl li>a:active{
	color: #77644A;
}

.int-bl li>a:hover{
	text-decoration: underline;
}

.some-text-bl{
	width: 800pt;
	margin:auto;
	padding: 10pt;
	text-align: justify;
}

.some-text-bl h2{
	color: #9C0000;
	text-align: center;
}

p .drop-caps {
    color: #9C0000;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    text-shadow: 1px 1px 2px black;
}

p .drop-caps:hover {
	text-shadow: none;
}

/*.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {

}*/